* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.map-container {
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
}

.bottom-nav {
    width: 100%;
    height: 25em;
    background-color: blue;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.bottom-chart {
    width: 45%;
    height: 90%;
    background-color: green;
}
/* 
.hidden {
    display: none;
} */