:root {
    /* basic colors of the app */
    --white: #F9F9F9;
    --border: #E5E5E5
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 0.3s;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

/* Main map container - takes up remaining space */
.map-container {
    flex: 1;
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
}

.d3-geomap {
    width: 100%;
    height: 100%;
}

.bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 450px;
    max-height: 450px;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
    margin: 0;
}

.bottom-nav-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;    
}

.bottom-nav-header .title {
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

.bottom-nav-header::after {
    content: '';
    display: block;
    height: 2px;
    width: 90%;
    margin: 8px auto 0 auto;
    background-color: var(--border);
}

.bottom-nav-charts {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; 
    gap: 12px;
    margin: 12px;
    border-radius: 20px;
    padding: 0 12px;
}

.bottom-chart {
    flex: 1;
    height: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border: 1px solid var(--border);
}

.bottom-chart:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none;
}

.black-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.25;
    background-color: black;
    pointer-events: none;
}