<div id="map-metrics" class="map-metrics">
    <div class="map-metrics-header">
        <h3>Metric</h3>
    </div>

    <div class="map-metrics-options">
        <label class="metric-option">
            <input type="radio" name="metric" value="attacks" checked>
            <span>Nombre d'attaques</span>
        </label>
        <label class="metric-option">
            <input type="radio" name="metric" value="kills">
            <span>Nombre de victimes</span>
        </label>
    </div>
</div>
