/* Chart container and SVG sizing */
.groupType-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.groupType-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupType-chart-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

/* Chart title styling */

.sunburst-svg {
    background-color: red;
}