/* Chart container and SVG sizing */
.heatMap-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.heatMap-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heatMap-chart-container svg {
    width: 100%;
    height: 100%;
    display: block;
}


