/* Chart container and SVG sizing */
.weaponUsed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.weaponUsed-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weaponUsed-chart-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

